<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="VideoUploader.Properties.Settings.ARCHIVEConnectionString"
        connectionString="Data Source=.;Initial Catalog=ARCHIVE;Persist Security Info=True;User ID=dbuser;Password=dbuser"
        providerName="System.Data.SqlClient" />
  <!--<add name="VideoUploader.Properties.Settings.ARCHIVEConnectionString"
       connectionString="Data Source=192.168.10.41;Initial Catalog=ARCHIVE;Persist Security Info=True;User ID=8668;Password=09112064568"
       providerName="System.Data.SqlClient" />-->
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
